*{
    font-family: 'Righteous', cursive;
  }
  
  #space {
    border: 1px solid black;
    background-image: url("../img/Background/starBackground.png");
    position: relative;
    overflow: hidden;
  }
  
  #menu-stats {
    margin: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
  }
  
  #pause-menu, #start-menu, #over-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0.7, 0.7, 0.7, 0.5);
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    text-align: center;
  }
  
  #menu-point{
    color: white;
    font-size: 30px;
    margin-left: 10px;
  }
  
  #over-menu{
    flex-direction: column;
    visibility: hidden;
  }
  
  #over-menu #play-again{
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
  }
  
  #play-again {
    cursor: pointer;
  }
  
  #start-menu{
    visibility: visible;
  }
  
  #pause-menu{
    visibility: hidden;
  }
  
  #ship {
    position: absolute;
    z-index: 3;
  }
  
  .enemy {
    position: absolute;
    z-index: 1;
  }
  
  .gun-ship {
    position: absolute;
    z-index: 1;
  }
  