<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/game.css">
    <title>Document</title>
</head>
<body>

    <div class="bs-component">
              <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">

                  <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                      <li class="nav-item">
                        <a class="nav-link active" href="/">Início</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/game">Jogar</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">Sobre</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/areas">Areas</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/rank">Rank</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>